// Place all the styles related to the Labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* custom styles */
body {
    
    
    font-family: 'Roboto';
}
.printpage{
    width:8.5in;
    margin:auto;
}
.wrapper{
    margin-top: .25in;
    margin-bottom: .25in;
    margin-left: .125in;
    margin-right: .125in;
}

.label {
    /* Online labels 2.75 x 1.8 */
    width: 2.75in;
    /* plus .6 inches from padding */
    height: 1.8in;
    position:relative;
    margin-bottom: 0.37in;
    /* the gutter */
    float: left;
    // text-align: center;
    overflow: hidden;
    // outline: .5px dotted black;
    border-radius: 0.125in;
    /* outline doesn't occupy space like border does */
}

.logo_img{
    height: 75px;
    width: 75px;
    position:absolute;
    top:-18px;
    left:0;
}
.contact{
        position: absolute;
        top: 8px;
        right: 9px;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 9px;
        margin: 0;
        span{
            margin-right:3px;
        }
}
.wine_info{
        margin: 0;
        position: absolute;
        font-size: 10px;
        font-weight:bold;
        font-family: 'Roboto';
        top: 38px;
        left: 12px;
}
.grapes{
        margin: 0;
        position: absolute;
        font-family: 'Roboto';
        font-size: 9.5px;
        font-style: italic;
        font-weight:bold;
        top: 50px;
        left: 12px;
}

.regions{
    margin: 0;
    position: absolute;
    top: 63px;
    left: 12px;
    font-size: 8.5px;
}

.description{
    margin: 0;
    font-size: 10px;
    position: absolute;
    top: 81px;
    left: 12px;
    line-height: 1.2;
    padding-right:3px;
}

.hash{
        margin: 0;
        position: absolute;
        font-size: 9px;
        font-weight: bold;
        top: 129px;
        left: 12px;
        line-height: 1.2;
        padding-right:3px;
}

.radios {
    font-size: 8.5px;
    position: relative;
        left: 12px;
        top: 153px;
 
}


.radios i{
    padding-right: 2px;
}
.radios span{
    padding-right: 7px;
}

.show-wrapper{
        width: 3in;
        height: 2in;
        margin-top: 140px;
        margin-left: auto;
        margin-right: auto;
}